// NAVIGATION

.off-canvas-menu {
    position: absolute;
    width: 260px;
    height: 100%;
    top: 0;
    left: 0px;
    bottom: 0;
    z-index: -1;
    background-color: #373432;
    display: none;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    &.menu-visible {
        display: block;
        z-index: 0;
    }
    
    .form-search {
        @include box-sizing( border-box );
        padding: 6px 7px;
        fieldset {
            position: relative;
        }
        input[type="search"] {
            @include box-sizing( border-box );
            width: 100%;
            padding: 0 55px 0 13px;
            border: 0;
            background-color: #575555;
            color: $white;
            line-height: 42px;
        }
        [type="submit"] {
            position: absolute;
            margin: 0;
            top: 0;
            right: 0;
        }
    }

    .nav-title {
        padding: 0 20px;
        display: block;

        background-color: #1d1d1d;
        
        border-right: 1px solid #062f61;
        border-bottom: 1px solid #242222;
        
        color: #767474;
        font-family: $myriad;
        font-weight: bold;
        text-shadow: 0 1px $black; // fallback
        text-shadow: 0 1px rgba($black, .3);
        text-transform: uppercase;
        line-height: 31px;
        &.languages {
            background-color: #071536;
        }
    }
    ul {
        margin: 0;
        padding: 0;
        position: relative;
        z-index: 1;
    }
    li {
        position: relative;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-image: none;
        &::before, .before {
            display: none;
            margin: 0;
            padding: 0;            
        }
    }
    a {
        height: 38px;
        margin: 0; 
        padding: 0 65px 0 20px;
        display: block;
        position: relative;
        text-decoration: none;

        background-color: #373432;
        
        border-top: 1px solid #544f4c;
        border-bottom: 1px solid #282625;

        color: $white;
        text-shadow: 0 1px $black; // fallback
        text-shadow: 0 1px rgba($black, .3);

        font-size: 16px;
        font-family: $myriad;
        line-height: 38px;
        z-index: 1;
        &::after, .after {
            content: '›';
            width: 42px;
            height: 38px;
            margin: 0 -65px 0 0;
            padding: 0;
            overflow: hidden;
            float: right;
            background-repeat: no-repeat;
            position: relative;
            right: 0;
            text-align: center;
        }
    }
    .dropdown-toggle {
        @include box-shadow( -1px 0 rgba($black, .1) );
        width: 42px;
        height: 38px;
        padding: 0;
        display: block;
        overflow: hidden;
        position: absolute;
        top: 1px;
        right: 0;
        color: $white;
        background: none;
        background-color: #373432;
        text-align: center;
        border: 0;
        border-left: 1px solid rgba($white, .05);
        z-index: 1;
        &::before, .before {
            content: '+';
            display: block;
        }
    }

    // SUBNAVS
    ul ul {
       @include transition(all .3s ease);
       @include translate3d(0,-100%,0);

        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
        
        display: block;
        max-height: 0;
        border: 0;
        position: relative;
        z-index: 0;
    }
    .visible-submenu {
        > a {
            background-color: #ba0202;
            border-top-color: #544f4c;
        }
        .dropdown-toggle {
            border-left: 1px solid rgba($white, .2);
            background-color: #ba0202;
            &::before, .before {
                content: '-';
            }
        }
        ul {
            @include translate3d(0,0,0);
            max-height: 400px;
            a {
                background-color: #777575;
                border-top-color: #544f4c;
                border-bottom-color: #565656;
            }
        }
    }
    
    &::after, .after {
        content: ' ';
        display: block;
        width: 1px;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: $red;
        z-index: 1;
    }
}

// Sidenav
.nav-sidenav {
    padding-bottom: 20px;
    ul {
        @extend .list-reset;
    }
    a {
        @extend .s-font;
        @include box-sizing( border-box );
        padding: 28px 20px;
        display: block;
        line-height: 20px;
        background-color: #dddddd;
        border: 1px solid #dddddd;
        border-top: 1px solid #c5c5c5;
        color: #303138;
        text-decoration: none;
        &.active {
            @extend .font;
            background-color: #ffffff;
            border-top: 1px solid #dddddd;
            border-bottom: 2px solid $red;
            font-weight: bold;
        }
        &:hover, &:focus {
            background-color: $white;
        }
    }
}

// nav-details 
.nav-details {
    @extend .col-10;
    @media screen and(max-width:689px) {
        margin: -20px 0 20px 0;
        padding: 0;
    }
    background-color: #dddddd;
    display: block;
    overflow: hidden;
    margin-bottom: 40px;
    a {
        @extend .s-font;
        @include box-sizing( border-box );
        @media screen and(max-width:689px) {
            width: 49%;
            margin: 0;
            padding: 0 10px;
        }
        padding: 0 20px;
        font-family: $myriad;
        font-weight: normal;
        line-height: 28px;
        display: inline-block;
        vertical-align: top;
    }
}